/* ================================= 
  Converting "Positioning Project" to a flexbox layout.
==================================== */

/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


p {
	font-size: .95em;
	margin-bottom: 1.8em;
}

h2,
h3,
a {
	color: #093a58;
}

h2,
h3,
h4 {
	margin-top: 0;
}

h4 {
	margin-bottom: .4em;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

figure {
	margin: 0;
	line-height: 0;
    position: relative;
}

figcaption {
	font-size: .9em;
	line-height: 1.5;
	color: #fff;
	padding: 1em;	
	background: rgba(19,43,102, .85);
    
    position: absolute;
    width: 100%;
    bottom: 0;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.container,
.main-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
}
	
.name a,
.main-nav a {
	text-align: center;
	display: block;
	padding: 10px 15px;
}

.main-nav a {
	font-size: .95em;
	color: #3acec2;
	text-transform: uppercase;
    
}

.main-nav a:hover {
	color: #093a58;
}


/* ---- Layout Containers ---- */

.main-header {
	padding-top: .5em;
	padding-bottom: .5em;
}


.banner,
.main-footer {
	text-align: center;
}


.banner {
	color: #fff;
	background: #3acec2;
	padding: 3.2em 0;
	margin-bottom: 60px;
}

.columns{
    display: flex;
    flex-direction: column;
}

.col {
	padding-right: 1em;
	padding-left: 1em;
}

.main-footer {
	background: #d9e4ea;
	padding: 2em 0;
	margin-top: 30px;
}

/* ---- Page Elements ---- */

.logo {
	width: 190px;
}

.headline {
	margin-bottom: 0;
}

.icon-location {
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {

    .main-nav{
        flex-direction: row;
    }
    
    .container {
		width: 90%;
		margin: 0 auto;
	}

    .columns{
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 1200px;
        margin: auto;
    }
    
    .col {
        flex: 1 50%;
    }

	.tagline {
		font-size: 1.4em;
	}


}

@media (min-width: 1025px) {
    
    .container{
        max-width: 1200px;
    }
    .container,
    .main-nav{
        flex-direction: row;
    }

    .name{
        margin-right: auto;
    }

    .col {
        flex-basis: 0;
    }
    
    .primary{
        flex: 1.5;
    }

}